@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; 
  line-height: 1.22;
  color: var(--primary-text-color);
  background-color: var(--maim-background-color);
}

// font-family: 'Caveat Brush', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Montserrat Alternates', sans-serif;