:root {
  --accent-color: #f3848c;
  --primary-text-color: #3c322d;
  --secondary-text-color: #ffffff;
  --main-background-color: #bdbdbd;
  --second-background-color: #fafbfb;
  --duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
