:root {
  --accent-color: #F3848C;
  --primary-text-color: #3C322D;
  --secondary-text-color: #ffffff;
  --main-background-color: #BDBDBD  
  --second-background-color: #FAFBFB   
  --duration-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
