<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero-title">Donut Masterclass with the Donut King</h1>
    <p class="sub-title">Hosted by Eva Green</p>
    <a href="#" class="btn-register link btn-register-btn">Register</a>

    <ul class="social-list list">
      <li>
        <a class="social-link" href="https://twitter.com/" target="_blank"
          ><svg class="footer__social-icon">
            <use href="./images/svg-sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social-link" href="https://www.instagram.com/" target="_blank"
          ><svg class="footer__social-icon">
            <use href="./images/svg-sprite.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social-link" href="https://www.facebook.com/" target="_blank"
          ><svg class="footer__social-icon">
            <use href="./images/svg-sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
